* {
    margin: 0px;
    padding: 0px;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(#283048, #859398);
}

.container {
    height: 100vh;
}

.main-content {
    background-image: linear-gradient(to bottom right,  rgba(0, 4, 17, 0.05), rgba(61, 71, 90, 0.25));
    border-radius: 5px;
    width: 340px;
    padding-left: 30px;
    padding-right: 30px;
}

.highlight_box {
    border-radius: 5px;
    box-shadow: 4px 5px 10px rgba(42, 50, 73, 0.5), -3px -4px 10px -3px rgba(255, 255, 255, 0.25);
}

.title {
    text-shadow: 1px 3px 3px #293149;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 16px;
}

.input_box {
    width: 100px;
}

.form-control {
    border-radius: 9px !important;
    border: none !important;
    background-color: #757C89 !important;
    color: white !important;
    height: 35px !important;
}

.btn {
    text-align: center;
    transition: 0.5s !important;
    background-size: 200% auto;
    border-radius: 40px !important;
    width: 100%;
    box-shadow: none !important;
}

.btn:hover {
    background-position: right center;
    }

.btn-calculate {
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
}

.btn-gradient {
    border-radius: 40px !important;
    padding: 3px;
    background-image: linear-gradient(to bottom, rgba(73, 105, 178), rgba(27, 44, 79));
    box-shadow: 0px 12px 20px -10px #1B2C4E !important;
    width: 140px;
    height: 40px;
}

.calculate-text {
    width: 100%;
    align-self: center;
}

.net-box-dropdown {
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: height .3s, visibility 1s, opacity 1s;
}

.net-box-dropdown.expanded {
    visibility: visible;
    height: 70px;
    opacity: 1;
}

.results {
    color: #283E6C;
}

h5 {
    letter-spacing: 1px;
}

/* Fonts */

.font-mavenpro {
    font-family: "Maven Pro", sans-serif;
}
